<html>
<head>
<title>#if($title)$title - #end $!{metadata.title}</title>
#foreach($data in $metas.all)
<meta name="$!{data.name}" content="$!{data.content}"/>
#end
<link type="text/css" rel="stylesheet" href="/static/css/default-theme.css" />
<link type="text/css" rel="stylesheet" href="/static/css/master.css" />
<link type="text/css" rel="stylesheet" href="/static/css/menu.css" />
<link type="text/css" rel="stylesheet" href="/static/css/colors.css" />
<link type="text/css" rel="stylesheet" href="/static/css/wiki-content.css" />
<link type="text/css" rel="stylesheet" href="/static/js/google-code-prettify/prettify.css" />
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/cupertino/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="/static/css/custom.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/google-code-prettify/prettify.js" ></script>
<script type="text/javascript" src="/static/js/mirco-wiki.js" ></script>
</head>
<body>
	#parse("widget/head_bar.vm")
	<div id="main">$screen_content</div>
	<div id="copyright">&copy; 2011 Zimmem.com, Power by Google App Engine</div>
</body>
</html>
