<!DOCTYPE html>
<html>
<head>
<title>#if($title)$title - #end $!{metadata.title}</title>
#foreach($data in $metas.all)
<meta name="$!{data.name}" content="$!esc.html(${data.content})"/>
#end
<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/static/google-code-prettify/prettify.css" />
<link type="text/css" rel="stylesheet" href="/static/css/custom.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/static/google-code-prettify/prettify.js" ></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/mirco-wiki.js" ></script>
</head>
<body>
    <div class="container" style="padding-top: 50px;">
	#parse("widget/head_bar.vm")
	<div id="main">$screen_content</div>
    <hr>
        <div id="copyright">
            <p>&copy; 2012 zimmem.com, Power by Google App Engine.</p>
            <p>Package: $!metadata.getSysProp("build.version")-$!metadata.getSysProp("build.time")</p>
        </div>
    </div>
</body>
</html>
