/**bootstrap custom*/
.navbar{
	width:1200px;
	margin:auto;
}

.btn-toolbar{
	
	margin-left: 10px;
	margin-rigth:10px;
}
/**bootstrap custom end*/

body {
	background: #FFF;
}

#copyright {
	text-align: center;
	margin: 20px;
}



.search-snipeet b{
	color: red;
} 

#markdown-editor {
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
}

#wiki-content-preview{
	position: absolute;
	top: 20px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	
}



