body {
	background: #FFF;
}

#copyright {
	text-align: center;
	margin: 20px;
}



pre {
	border: dashed 1px #3C78B5;
	padding: 10px;
	margin: 15px;
}

pre.prettyprint {
	margin-left: 40px;
	margin-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	background-color: #F9F9F9;
	border: dashed 1px #3C78B5;
}


.ace_editor_wrapper {
    
    position: relative;
    border: 1px solid #DDD;
    margin: 5px;
    height: 500px;
}

#markdown-editor { 
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: 0px;
        height: 500px;
    }