/**bootstrap custom*/
.navbar{
	width:1200px;
	margin:auto;
}

.btn-toolbar{
	
	margin-left: 10px;
	margin-rigth:10px;
}
/**bootstrap custom end*/

body {
	background: #FFF;
}

.search-snipeet b{
	color: red;
} 

#markdown-editor {
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
}

#wiki-content-preview{
	position: absolute;
	top: 20px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1000;
	
}


p{line-height: 2em;text-indent: 2em;}

li p{text-indent: 0;}


.article{
    border: 1px solid #EEE;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #DDD;
    padding: 20px;
    margin-top: 20px;
}


#copyright {
	text-align: right;
	margin: 20px;
}

#copyright p{text-indent: 0; line-height: 1.2em;}

