$metas.add("author",$!{article.editor.nickname})
$metas.add("keywords",$!{article.title})
#set($title=$esc.html($!{article.title}))
<article class="article">
    <header class="page-header">
      <h1>$esc.html($!{article.title}) </h1>
      <small>Added By $!{article.creater.nickname}, last edited by $!{article.editor.nickname} on $!{article.modifiedTime}</small>
    </header>
    <div class="wiki-content">
    	$!{article.html}
    </div>
</article>
##if($children && $children.size()>0)
##parse("widget/childrenSection.vm")
##end

<hr/>

#parse("widget/disqus.vm")

<script>
mirco_wiki.prettyCode();
</script>

<!-- Place this render call where appropriate -->
    <script type="text/javascript">
      window.___gcfg = {lang: 'zh-CN'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>