<form id="markdown-form" action="/preview" method="post">
    <input type="hidden" id="pageId" name="id" value="$!wikiPage.id" />
    <input type="hidden" name="parentId" value="$!wikiPage.parentId" />
    <input type="hidden" id="wiki-val" name="wiki" />
    <div class="tool-panel">
        <div class="btn-toolbar form-inline">
            <select id="theme" size="1">
            #parse("widget/aceThreme.vm")
            </select>
            <input type="text" name="title" class="input-xxlarge" value="$!esc.html($!wikiPage.title)" placeholder="title"/>
                <a id="btn-save" class="btn btn-primary">save</a>
                <a id="btn-preview" class="btn">preview</a>
                <a id="btn-atta" class="btn">Attachment...</a>
                #if($wikiPage.id)
                <a id="btn-goto-page" class="btn" href="/articles/id-$!{wikiPage.id}">Go to Page</a>
                #else
                <a id="btn-goto-page" class="btn disabled">Go to Page</a>
                #end
        </div>
        <div class="form-inline">
            <div id="tags-input-wrapper" class="tags-input-wrapper">
            <span>Tags:</span>
            <ul id="tags" class="tags">
             #foreach($tag in $wikiPage.tags)
             <li class="tag">
                <input type="hidden" name="tags" value="$!{tag}"/>
                <span>$!{tag}</span><i class="remove-tag icon-remove" ></i>
              </li>
             #end
            </ul>
            <input type="text" class="span2 hide" id="tag-input"></input>
            </div>
        </div>
    </div>
    <div id="markdown-editor"/>$!esc.html($!wikiPage.wiki)</div>

</form>
<div id="save-modal" class="modal hide fade">
    <div id="save-modal-content" class="modal-body">
        
    </div>
</div>
<script>
$(function(){
    var editor = ace.edit("markdown-editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");
    editor.session.setUseWrapMode(true);
    
    $('#theme').change(function(){
        editor.setTheme($(this).val());
    });
    
    function saveWiki(){
        $('#save-modal-content').html("loading");
        $('#save-modal').modal('show');
        $('#wiki-val').val(editor.getValue());
        $.post("/post_page", $('#markdown-form').serialize(), function(data){
        	if(data.id != undefined && data.id != undefined > 0){
        	   $('#pageId').val(data.id);
        	   $('#save-modal-content').html('<div id="success" class="alert alert-success">Save success! will close modal in 3 seconds.</div>');
        	   setTimeout("$('#save-modal').modal('hide')",3000);
        	   $('#btn-goto-page').attr('href', '/articles/id-'+data.id).removeClass('disabled');
        	}
        }, 'json');
    }
    
    $('#markdown-form').attr('target', 'wikipreview_' + new Date().getTime());
    function preview(){
        $('#wiki-val').val(editor.getValue());
        $('#markdown-form').submit();
    }
    $('#btn-save').click(saveWiki);
    $('#btn-preview').click(preview);
    
    editor.commands.addCommand({
        name: 'markdown-save',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: saveWiki
    });
    editor.commands.addCommand({
        name: 'markdown-preview',
        bindKey: {win: 'Ctrl-P',  mac: 'Command-P'},
        exec: preview
    });
    $('#edit-form-wrapper').show();
});

$(function(){
    $('#btn-atta').click(function(){
        loadAttacmentManager();
    });
});


$('#tags-input-wrapper').click(function(){
    if(!$('#tag-input').is(":visible")){
	    $('#tag-input').show();
    }
    $('#tag-input').focus();
});

$('#tag-input').blur(function() {
    $(this).hide();
});

$('#tag-input').keypress(function(e) {
    console.info(e.keyCode);
   if(e.keyCode == 13){
       if($(this).val() != ""){
           $li = $('<li class="tag"><input type="hidden" name="tags" value="'+ $(this).val()+'"/><span>' +$(this).val()+ '</span><i class="remove-tag icon-remove" ></i></li>');
       	   $('#tags').append($li);
       }
       $(this).val('');
   };
});

$('.remove-tag').live('click',function(){
    $(this).parent().remove();
    return false;
});
</script>

#parse("widget/atta-mgr.vm")