<form id="markdown-form">
    <input type="hidden" id="pageId" name="id" value="$!wikiPage.id" />
    <input type="hidden" name="parentId" value="$!wikiPage.parentId" />
    <input type="hidden" id="wiki-val" name="wiki" />
    <div>
        <div class="btn-toolbar form-inline">
        <input type="text" name="title" class="input-xxlarge" value="$!esc.html($!wikiPage.title)" placeholder="title"/>
        <div class="btn-group">
             <a id="btn-save" class="btn btn-primary">save</a>
             <a class="btn">preview</a>
        </div>
        </div>
    </div>
    <div id="edit-form-wrapper" style="margin: 50px; display:none;">
        <div id="markdown-editor"/>$!esc.html($!wikiPage.wiki)</div>
    </div>
</form>
<script>
    var editor = ace.edit("markdown-editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");
    
    function saveWiki(){
        $('#wiki-val').val(editor.getValue());
        $.post("/post_page", $('#markdown-form').serialize(), function(data){
        	if(data.id != undefined && data.id != undefined > 0){
        	    console.info("post wiki success");
        	   $('#pageId').val(data.id);
        	}
        }, 'json');
    }
    $('#btn-save').click(saveWiki);
    $(document).bind('keydown', 'Ctrl+s', saveWiki);
    editor.commands.addCommand({
        name: 'markdown-save',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: saveWiki
    });
    editor.commands.addCommand({
        name: 'markdown-preview',
        bindKey: {win: 'Ctrl-P',  mac: 'Command-P'},
        exec: function(editor) {
           jQuery.post('/api-wiki/render', {
            'wiki' : editor.getValue()
            }, function(data) {
                $('#wiki-content').html(data);
                $('#edit-form-wrapper').toggle();
                $('#wiki-content-preview').toggle();
            });
        }
    });
    $('#edit-form-wrapper').show();
</script>
