<form id="markdown-form" action="/preview" method="post">
    <input type="hidden" id="pageId" name="id" value="$!wikiPage.id" />
    <input type="hidden" name="parentId" value="$!wikiPage.parentId" />
    <input type="hidden" id="wiki-val" name="wiki" />
    <div>
        <div class="btn-toolbar form-inline">
         <select id="theme" size="1">
          #parse("widget/aceThreme.vm")
        </select>
        <input type="text" name="title" class="input-xxlarge" value="$!esc.html($!wikiPage.title)" placeholder="title"/>
        <div class="btn-group">
             <a id="btn-save" class="btn btn-primary">save</a>
             <a id="btn-preview" class="btn">preview</a>
            <a id="btn-atta" class="btn btn-primary">Attachment...</a>
        </div>
        </div>
         <div class="btn-toolbar form-inline">
         </div>
    </div>
    <div id="edit-form-wrapper" style="margin: 50px; display:none;">
        <div id="markdown-editor"/>$!esc.html($!wikiPage.wiki)</div>
    </div>
</form>

<script>
$(function(){
    var editor = ace.edit("markdown-editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/markdown");
    editor.session.setUseWrapMode(true);
    
    $('#theme').change(function(){
        editor.setTheme($(this).val());
    });
    
    function saveWiki(){
        $('#wiki-val').val(editor.getValue());
        $.post("/post_page", $('#markdown-form').serialize(), function(data){
        	if(data.id != undefined && data.id != undefined > 0){
        	   $('#pageId').val(data.id);
        	}
        }, 'json');
    }
    
    $('#markdown-form').attr('target', 'wikipreview_' + new Date().getTime());
    function preview(){
        $('#wiki-val').val(editor.getValue());
        $('#markdown-form').submit();
    }
    $('#btn-save').click(saveWiki);
    $('#btn-preview').click(preview);
    
    editor.commands.addCommand({
        name: 'markdown-save',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: saveWiki
    });
    editor.commands.addCommand({
        name: 'markdown-preview',
        bindKey: {win: 'Ctrl-P',  mac: 'Command-P'},
        exec: preview
    });
    $('#edit-form-wrapper').show();
});

$(function(){
    $('#btn-atta').click(function(){
        loadAttacmentManager();
    });
});
</script>

#parse("widget/atta-mgr.vm")